
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. Please download the "Salaries.csv" file from kaggle and complete the below exercises. Please submit the completed jupyter notebook file to D2L. 


| Exercise | Point |
| --- | --- |
| 1 | 3 |
| 2 | 2 |
| 3 | 5 |
| 4 | 5 |
| 5 | 5 |
| 6 | 5 |
| 7 | 5 |
| 8 | 5 |
| 9 | 5 |
| 11 | 5 |
| 12 | 5 |
| **Total** | **50** |

**Exercise 1**

**Import pandas as pd.**

In [161]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [24]:
sal = pd.read_csv("Salaries.csv")

In [25]:
pd.DataFrame(sal)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Check the head of the DataFrame.**

In [28]:
sal.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Exercise 2 - Use the .info() method to find out how many entries there are.**

In [27]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 13.6+ MB

**Exercise 3 - What is the average BasePay ?**

In [163]:
mean=sal['BasePay'].mean(skipna=True)
print('The average BasePay is {:.2f}'.format(mean))  #{:.2f} for 2 decimals

The average BasePay is 66325.45

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

In [133]:
max=sal['OvertimePay'].max()
print('The highest amount of Overtime Pay is {}'.format(max))

The highest amount of Overtime Pay is 245131.88

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
sal.set_index('EmployeeName', inplace = True)

In [61]:
sal.loc[['JOSEPH DRISCOLL'],['JobTitle']]

                                  JobTitle
EmployeeName
JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

In [66]:
sal.loc[['JOSEPH DRISCOLL'], ['TotalPayBenefits']]

                 TotalPayBenefits
EmployeeName
JOSEPH DRISCOLL         270324.91

**Exercise 7 - What is the name of highest paid person (including benefits)?**

In [86]:
x=sal['TotalPayBenefits'].idxmax()

print('The name of highest paid person (including benefits) is {}'.format(x))

The name of highest paid person (including benefits) is NATHANIEL FORD

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

In [87]:
y=sal['TotalPayBenefits'].idxmin()

print('The name of highest paid person (including benefits) is {}'.format(y))

The name of highest paid person (including benefits) is Joe Lopez

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [157]:
z=sal['BasePay'].mean(skipna=True)

print('The average (mean) BasePay of all employees per year is {:.2f}'.format(z))

The average (mean) BasePay of all employees per year is 66325.4488

**Exercise 10 - How many unique job titles are there?**

In [90]:
p=sal['JobTitle'].unique()
print(p)
len(p)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

2159

**Exercise 11 - What are the top 5 most common jobs?**

In [169]:
topfive=sal['JobTitle'].value_counts(ascending=False)
topfive.head()           

#https://appdividend.com/2020/05/26/pandas-dataframe-head-method-in-python/ OR 
#https://www.w3resource.com/pandas/dataframe/dataframe-head.php

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [155]:
jobtitle=sal.loc[(sal['Year']==2013)].groupby('JobTitle').count() 
#count can use in "size", find Year then group by job title and count how many job title group do we have

len(jobtitle)

1051

**Optional: Is there a correlation between length of the string named "Job Title" and Salary?**

In [162]:
sal['JobTitleLEN']=sal['JobTitle'].str.len()  #https://www.geeksforgeeks.org/python-pandas-series-str-len/
sal.corr(method='pearson')

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status,JobTitleLEN
BasePay,1.000000,0.266740,0.285655,0.918028,0.954494,0.946595,0.033751,NaN,NaN,-0.005059
OvertimePay,0.266740,1.000000,0.316592,0.301207,0.504859,0.467981,0.027887,NaN,NaN,-0.017172
OtherPay,0.285655,0.316592,1.000000,0.233178,0.470496,0.422341,-0.002499,NaN,NaN,-0.042587
Benefits,0.918028,0.301207,0.233178,1.000000,0.884097,0.930140,-0.043136,NaN,NaN,-0.021469
TotalPay,0.954494,0.504859,0.470496,0.884097,1.000000,0.977313,0.032090,NaN,NaN,-0.015356
TotalPayBenefits,0.946595,0.467981,0.422341,0.930140,0.977313,1.000000,0.151947,NaN,NaN,-0.036878
Year,0.033751,0.027887,-0.002499,-0.043136,0.032090,0.151947,1.000000,NaN,NaN,-0.088883
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobTitleLEN,-0.005059,-0.017172,-0.042587,-0.021469,-0.015356,-0.036878,-0.088883,NaN,NaN,1.000000

In [ ]:
#Exists a negative correlation between the Lenght of the JobTitle string and Total Paybenefits. 
#Hence, the longest the Jobtitle is, the less the Total Paybenefits will be; and viceversa